[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-caching = "*"
flask-cors = "*"
flask-login = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-static-digest = "*"
flask-redis = "*"
flask-socketio = "*"
environs = "*"
protobuf = "*"
pyjwt = "*"
flask-mysqldb = "*"
redis = "==4.5.3"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.9"
